header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height:72px;
    font-family: 'Inter';
}

header > div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    gap: 10px;
}

a:hover {
    color:#344563;
}

a {
    text-decoration: none;
}

a {
    color:#344563;
}

body {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("desktop/illustration-head-line.png");
    background-position: top, center;
    background-repeat:no-repeat;
    background-size: 100%;
    color:#172b4d;
}

footer, #social {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

footer > a, #social > a {
    padding: 8px;
}

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 160px;
    gap:24px;
    width: 50%;
}

#intro {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    line-height: 60px;
}

#intro > span {
    color:#36b37e;
}

#subintro {
    font-size: 20px;
    text-align: center;
    line-height: 32px;
}

#portfolio > a > input {
    padding: 8px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid #dfe1e6;
    width: 32px;
    height: 32px;
    font-size: 20px;
    font-weight: bold;
    background-image: url("chevron.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#portfolio > a > input:hover {
    cursor:pointer;
}

#work {
    padding-top: 600px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap:48px;
}

#worktext {
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    font-weight: 700;
}

#cards {
    display: flex;
    gap:24px;
    flex-direction: column;
}

#row1, #row2 {
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    padding-bottom: 4px;
    gap:24px;
}

.card {
    width: 369px;
    height: 474px;
    background-color: #ebf0ee;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    display: flex;
    flex-direction: column-reverse;
}

.subcard {
    height: 206px;
    width: 337px;
    background-color: white;
    border-radius: 8px;
    gap: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtext {
    font-weight:600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.tags {
    display: flex;
    flex-direction: row;
    gap:8px;
}

.tags > div {
    padding-left: 12px;
    padding-right:12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    background-color: #ebf0ee;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 3%;
    font-weight: 600;
}

.seeproject {
    border: 0px;
    border-radius: 4px;
    background-color: #36b37e;
    padding: 12px;
    color:white;
    margin-top: 13px;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    font-weight: 500;
}